
#box {
    width: 450px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border:1px solid #ccc;
    border-top: none;
}
#header {
    background-color: #fff;
    width: 450px;
    height: 80px;
    margin: 50px auto 0;
    border:1px solid #ccc;
    border-bottom: none;
    text-align: center;
    padding: 20px;
    color: #666666;
}
#back_btn {
    left:-10%;
}